/*Margenes de pagina*/
body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #333;
  background: #b7d2f0;
}
.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*Header*/
.header {
  background-color: #2986c8;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 24px;
  font-weight: bold;
}
.logotipo {
  height: 90px;
  width: 200px;
}

/*Imagen y formulario de entrada*/

.auth-buttons button {
  margin-left: 10px;
  padding: 5px 15px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}
.register-button {
  background-color: #007bff;
  color: white;
  border-radius: 5px;
}
.login-button {
  background-color: #ffffff;
  color: #007bff;
  border: 1px solid #007bff;
  border-radius: 5px;
}

.banner {
  display: grid;
  grid-template-columns: 2fr 2fr;
  align-items: center;
  justify-items: center;
  background-color: #b7d2f0;
}

.banner-image {
  background-image: url("../public/mediacl.png");
  width: 500px;
  height: 320px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 50px;
}

.banner-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -60px;
  width: 400px;
  background-color: #9696a0;
   margin-top: 60px;
 padding: 35px;
  height: 250px;
  border-radius: 10px;
}
.banner-buttons button {
  margin: 15px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.register-banner-button {
  background-color: #007bff;
  color: white;
}
.access-banner-button {
  background-color: #6c757d;
  color: white;
}

/*Especialidades*/

.specialties {
  padding: 50px;
  max-width: 900px;
  gap: 54px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.especiality-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
  padding: 10px;
  border-radius: 15px;
  background-color: #9696a0;
  width: 200px;
  justify-content: center;
}

/*Footer*/

.footer {
  display: flex;
  flex-direction: row;
  background-color: #015c92;
  color: black;
}

.footer-info {
  display: flex;
  flex-direction: row;
  height: 50px;
  padding: 0px;
  padding-top: 50px;
  
}

.footer-links {
  display: flex;
  margin-top: 50px;
  width: 50%;
  justify-content: space-around;
  color: #007bff;
  text-decoration: none;
  position: relative;
  font-size: 30px;
  padding-left: 350px;
  padding-bottom: -60px;
}

.imagen {
  height: 100px;
  width: 200px;
}

.footer-img {
  display: flex;
  height: 50px;
  margin-top: 50px;
  width: 20%;
  padding-left: 450px;
}

.final {
  background-color: #015c92;
  padding: 20px;
  text-align: center;
}
.logo-test {
  display: flex;
  text-align: justify;
  margin-left: 25px;
  width: 250px;
  font-size: 15px;
}
.logotipo-f {
  display: flex;
  justify-content: center;
  width: 300px;
  margin-top: 20px;
}
.websites {
  display: flex;
}
.footer-content {
  width: 100%;
}
.footer-info-parent {
  display: flex;
  padding-left: 250px;
  padding-right: 250px;
  justify-content: space-between;
}

/*CSS del log in*/

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #94b4cc;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.input-field {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-button {
  width: 60%;
  padding: 10px;
  background-color: #1e5b7e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px;
}

.login-button:hover {
  background-color: #174b63;
}

.close-button {
  margin-top: 15px;
  background-color: #e03b3b;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.close-button:hover {
  background-color: #b82a2a;
}

.links a {
  display: block;
  margin: 5px 0;
  color: #1e5b7e;
  text-decoration: none;
  font-size: 14px;
}

.links a:hover {
  text-decoration: underline;
}
